.modal {
    width: min(600px, 90vw);
}

.view {
    margin: 10px 20px;
}

.bear {
    height: 150px;
    position: relative;
    bottom: -20px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    transition: .3s all ease-in-out;
}

.bear.welcome {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.inputs {
    margin-top: 5px;
}

.input {
    display: flex;
    margin: 20px 0;
    width: 100%;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.bottom p {
    font-weight: bold;
    text-align: left;
    font-size: 25px;
}

.buttons {
    display: flex;
}