.image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px;
}

.image img {
    max-height: 400px;
    max-width: 100%;
}

.answer {
    text-align: center;
    color: black;
    height: 40px;
    line-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    transition:  .2s background-color ease-in-out, transform .5s ease-in-out, opacity .5s ease-in-out !important;
}

.answer:hover {
    background-color: #eee;
}

.answer.rightAnswer {
    background-color: #31a431;
    color: white;
}

.answer.wrongAnswer {
    background-color: #cf2727;
    color: white;
}